name: windows

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          release: false
          msystem: UCRT64
          install: >-
            base-devel
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-pkgconf
            mingw-w64-ucrt-x86_64-zlib

      - name: Build
        run: |
         mkdir out
         pushd mingw-w64-curl
         dos2unix PKGBUILD
         makepkg-mingw -Csf --noconfirm
         mv *.pkg.tar.zst ../out/
         popd
         pushd mingw-w64-freetype
         dos2unix PKGBUILD
         makepkg-mingw -Csf --noconfirm
         mv *.pkg.tar.zst ../out/
         popd

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: out/
